// Home Page Section
.body-wrapper {
	.body-wrapper-inner {
		padding: 45px 50px;
		@include breakpoint(max-md) {
			padding: 30px;
		}
		@include breakpoint(max-sm) {
			padding: 20px 15px;
		}
		&__left {
			width: 45%;
			z-index: 1;
			&::before {
				position: absolute;
				content: "";
				width: 2000px;
				height: 2000px;
				background-color: hsl(var(--white));
				border-radius: 50%;
				right: -50px;
				top: 50%;
				transform: translateY(-50%);
				z-index: -1;
				@include breakpoint(max-xxl) {
					height: 1500px;
					width: 1500px;
				}
			}
		}
		&__right {
			width: calc(100% - 45%);
			position: relative;
			z-index: 2;
			img {
				margin-top: auto;
			}
		}
	}
}
// Home Page Section


// After Login Sections
.filter {
	gap: 10px 40px;
	li {
		a {
			padding: 10px 0;
			border: 0 !important;
			position: relative;
			color: hsl(var(--body));
			&.active {
				&::before {
					background-color: hsl(var(--base));
				}
			}
			&::before {
				@extend %position-set;
				top: auto;
				bottom: 0;
				border-radius: 5px;
				height: 4px;
			}
		}
	}
}
.search-wrapper {
	.form-group {
		position: relative;
		.btn {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			padding: 10px 15px;
			
		}
	}
}
// After Login Sections
